<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>AmaPeeGood</title>
    
        <!-- Google Font -->
        <link href="{{ url_for('static', filename='css/googleFont.css')}}" rel="stylesheet">
    
        <!-- Css Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css')}}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    </head>
    
    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
    
         <!-- Header Section Begin -->
         <!-- Header Section Begin -->
         <header class="header-section">
            <div class="header-top">
                <div class="container">
                    <div class="ht-left">
                        <div class="mail-service">
                            <i class=" fa fa-envelope"></i>
                            hello.colorlib@gmail.com
                        </div>
                        <div class="phone-service">
                            <i class=" fa fa-phone"></i>
                            +65 11.188.888
                        </div>
                    </div>
                    <div class="ht-right">
                        <a href="/login" class="login-panel"><i class="fa fa-user"></i>Login</a>
                        <div class="lan-selector">
                            <select class="language_drop" name="countries" id="countries" style="width:300px;">
                                <option value='yt' data-image="{{ url_for('static', filename='img/flag-1.jpg')}}" data-imagecss="flag yt"
                                    data-title="English">English</option>
                                
                            </select>
                        </div>
                        <div class="top-social">
                            <a href="#"><i class="ti-facebook"></i></a>
                            <a href="#"><i class="ti-twitter-alt"></i></a>
                            <a href="#"><i class="ti-linkedin"></i></a>
                            <a href="#"><i class="ti-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="inner-header">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="/index">
                                    <img src="{{ url_for('static', filename='img/logo.png')}}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <form method="POST" action="/search">
                            <div class="advanced-search">
                                    <select name = "category" class="category-btn" id="inputGroupSelect04">
                                      <option selected value="0">Choose...</option>
                                      <option value="1">Men's</option>
                                      <option value="2">Women’s</option>
                                    </select>
                                <div class="input-group">
                                    <input type="text" name = "search" placeholder="What do you need?">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div class="col-lg-3 text-right col-md-3">
                            <ul class="nav-right">
                                
                                <li class="cart-icon">
                                    <a href="#">
                                        <i class="icon_bag_alt"></i>
                                        <span>3</span>
                                    </a>
                                    <div class="cart-hover">
                                        <div class="select-items">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="si-pic"><img src="{{ url_for('static', filename='img/select-product-1.jpg')}}" alt=""></td>
                                                        <td class="si-text">
                                                            <div class="product-selected">
                                                                <p>$60.00 x 1</p>
                                                                <h6>Kabino Bedside Table</h6>
                                                            </div>
                                                        </td>
                                                        <td class="si-close">
                                                            <i class="ti-close"></i>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="select-total">
                                            <span>total:</span>
                                            <h5>$120.00</h5>
                                        </div>
                                        <div class="select-button">
                                            <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="cart-price">$150.00</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <div class="container">
                    <div class="nav-depart">
                        <div class="depart-btn">
                            <i class="ti-menu"></i>
                            <span>All departments</span>
                            <ul class="depart-hover">
                                <li><a href="#">Women’s Clothing</a></li>
                                <li><a href="#">Men’s Clothing</a></li>
                            </ul>
                        </div>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li><a href="/index">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/myaccount">My Account</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    
                                    <li><a href="/shopping-cart">Shopping Cart</a></li>
                                    <li><a href="/checkout">Checkout</a></li>
                                    <li><a href="/register">Register</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/addProduct">Sell Product</a></li>
                                </ul>
                
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <!-- Header End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-details-inner">
                        <div class="blog-detail-title">
                           
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->


   <!-- Footer Section Begin -->
   <footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-left">
                    <div class="footer-logo">
                        <a href="#"><img src="{{ url_for('static', filename='img/logo.png')}}" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: lmao@gmail.com</li>
                    </ul>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="footer-widget">
                    <h5>Information</h5>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>My Account</h5>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Shopping Cart</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.zoom.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.dd.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.js')}}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/main.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min2.js')}}"></script>
</body>

</html>